@font-face{
       font-family: Oswald-Bold;
       src: url('/fonts/Oswald-Bold.ttf');
}
@font-face{
       font-family: Oswald-Light;
       src: url('/fonts/Oswald-Light.ttf');
}

.header-active {
  background-color: #666;
  color: white;
}

.list-group{
    max-height: 470px;
    margin-bottom: 10px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.list-group-item:not(.header-active):hover {
  background-color: #f2f2f2;
}

::-webkit-scrollbar {
  width: 23px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #666666;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #212529;
}