<div th:fragment="header">
    <header class="p-3 bg-dark text-white">
        <div class="container-fluid">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a class="navbar-brand" href="#"><img id="MDB-logo" src="https://cdn.cookielaw.org/logos/6a189e47-62e6-47b4-81b0-3ccd4f0bf2ab/e2286c2f-1b1e-45ac-ba82-18076ffbf472/9d3feabf-3b3c-4c60-ac00-51db93003149/altmetric-site-logo.png" alt="MDB Logo" draggable="false" height="30"></a>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">About</a></li>
                </ul>
            </div>
        </div>
    </header>
</div>
