<div th:fragment="left-panel">
    <div style="font-size: 14px;" class="panel panel-default custom-scrollbar rounded-0" id="left_panel">
        <div class="panel-body">
            <ul class="list-group rounded-0">
                <li class="list-group-item d-flex flex-column" value="https://kuvo-ice.streamguys1.com/kuvo-mp3-128">
                    <div>
                        <strong>KUVO Jazz</strong>
                    </div>
                    <div style="font-size: 10px;">
                        Midday Jazz with Kim Berry
                    </div>
                </li>
                <li class="list-group-item" value="https://fred.torontocast.com:2515/stream">
                    <div>
                        <strong>KISS Jazz</strong>
                    </div>
                    <div style="font-size: 10px;">
                        Jazz Never Sounded Better
                    </div>
                </li>
                <li class="list-group-item" value="https://listen.radioking.com/radio/517897/stream/575959">
                    <div>
                        <strong>Smooth Jazz Nola</strong>
                    </div>
                    <div style="font-size: 10px;">
                        Official Chillaxation Internet Radio Station
                    </div>
                </li>
                <li class="list-group-item" value="http://151.80.38.142:7006/live">
                    <div>
                        <strong>RadioSky Music Jazz</strong>
                    </div>
                    <div style="font-size: 10px;">
                        Only Music Cool Jazz
                    </div>
                </li>
                <li class="list-group-item" value="http://la-ssd.myautodj.com:2199/ylujbtlu.pls">
                    <div>
                        <strong>Jazz Moods Radio</strong>
                    </div>
                    <div style="font-size: 10px;">
                        Jazz the way you like it
                    </div>
                </li>
                <li class="list-group-item" value="https://samcloud.spacial.com/api/listen">
                    <div>
                        <strong>The Jazz Lounge</strong>
                    </div>
                    <div style="font-size: 10px;">
                        Freddie Fox - Still Lovin' You
                    </div>
                </li>
                <li class="list-group-item" value="http://edge.mixlr.com/channel/vkjle">
                    <div>
                        <strong>American Jazz Institute</strong>
                    </div>
                    <div style="font-size: 10px;">
                        Jazzin Radio KAJI Radio
                    </div>
                </li>
                <li class="list-group-item" value="https://radio.canstream.co.uk:8075/live.mp3">
                    <div>
                        <strong>Jazz London Radio</strong>
                    </div>
                    <div style="font-size: 10px;">
                        JLR Interview Series
                    </div>
                </li>
                <li class="list-group-item" value="http://stream.zeno.fm/tvt6bya8hg8uv">
                    <div>
                        <strong>Jazz Radio Bcn</strong>
                    </div>
                    <div style="font-size: 10px;">
                        Welcome to Jazz Radio Bcn
                    </div>
                </li>
                <li class="list-group-item" value="http://greece-media.monroe.edu/wgmc.mp3">
                    <div>
                        <strong>Jazz 90.1 WGMC</strong>
                    </div>
                    <div style="font-size: 10px;">
                        Jazz w/ Phil Dodd
                    </div>
                </li>
                <li class="list-group-item" value="http://streaming.live365.com/a92135">
                    <div>
                        <strong>Smooth Jazz On The Rocks Radio</strong>
                    </div>
                    <div style="font-size: 10px;">
                        Less Talk More Music
                    </div>
                </li>
                <li class="list-group-item" value="http://jking.cdnstream1.com/b75154_128mp3">
                    <div>
                        <strong>Smooth Jazz 24/7</strong>
                    </div>
                    <div style="font-size: 10px;">
                        Paul Brown (featuring Gregg Karukas) - Mind Games
                    </div>
                </li>
                <li class="list-group-item" value="https://ns1.estaciondigital.es/radio/8010/live">
                    <div>
                        <strong>Jazz Fm Spain7</strong>
                    </div>
                    <div style="font-size: 10px;">
                        KIRK WHALUM, KEIKO MATSUI - SJL
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>